<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <h1>Update Campground</h1>
    <div>
        <form action="/campgrounds/<%=foundCampground.id%>?_method=PUT" method="post">
            <div>
                <label for="title">Enter Title:</label>
                <input type="text" name="title" id="title" placeholder="Title" value="<%=foundCampground.title%>"> <br> <br>
            </div>
            <div>
                <label for="location">Enter location:</label>
                <input type="text" name="location" id="location" placeholder="Location" value="<%=foundCampground.location%>"> <br> <br>
            </div>
            <div>
                <label for="price">Enter Price:</label> 
                <input type="text" name="price" id="price" placeholder="Price" value="<%=foundCampground.price%>"> <br> <br>
            </div>
            <div>
                <label for="description">Enter Description:</label>
                <input type="text" name="description" id="description" placeholder="Description" value="<%=foundCampground.description%>">
            </div>
            <br> 
            <button type="submit">Submit</button>    
        </form>       
    </div>
</body>
</html>